.legitRipple {
	position: relative;
	overflow: hidden;
	user-select: none; //would interfere with dragging
	z-index: 0;
	//z-index needs to be defined or sometimes the ripple will be
	//behind the element

	//default: .125s, .9s
	&.longOpacity .legitRipple-ripple {
		transition-duration: .125s, 3.6s;
	}
	&.longDrop .legitRipple-ripple {
		transition-duration: .7s, .9s;
		transition-timing-function: linear, cubic-bezier(1, 0, 0.8, 0);
	}
	&.longOpacity.longDrop .legitRipple-ripple {
		transition-duration: .7s, 3.6s;
		transition-timing-function: linear, cubic-bezier(1, 0, 0.8, 0);
	}
}

//default ripple styling
.legitRipple-ripple {
	position: absolute;
	z-index: -1;
	transform: translate(-50%, -50%) scale(1); //pixelated scaling :/
	transition:
		width .125s linear, //has to be linear
		opacity .9s ease-out; //cubic-bezier(1, 0, 0.75, 0.75)
	//transition initial values
	width: 0;
	opacity: 1;
	pointer-events: none;
	//clicking the drops themselves doesn't produce more, covered links work
	border-radius: 50%;

	background: rgba(255,255,255,0.4);

	&:before {
		//1:1 aspect ratio
		content: "";
		padding-top: 100%;
		display: block;
	}
}

img ~ .legitRipple-ripple {
	z-index: 0; //should appear in front of images
	//if image is after ripple element, this won't work.
	//that won't happen, though.
}

.legitRipple-custom {
	//hide custom ripple template
	display: none;

	&~.legitRipple-ripple {
		display: inline-block;
		overflow: hidden;
		&>* {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			transform: translate(-50%, -50%);
		}
	}
}