.legitRipple {
	position: relative;
	overflow: hidden;
	user-select: none; //would interfere with dragging
	z-index: 0;
	//z-index needs to be defined or sometimes the ripple will be
	//behind the element

	//default: .15s, .9s
	&.longOpacity .legitRipple-ripple {
		transition-duration: .15s, .9s*4;
	}
	&.longDrop .legitRipple-ripple {
		transition-duration: .15s*5, .9s;
		transition-timing-function: linear, cubic-bezier(1, 0, 0.8, 0);
	}
	&.longOpacity.longDrop .legitRipple-ripple {
		transition-duration: .15s*5, .9s*4;
		transition-timing-function: linear, cubic-bezier(1, 0, 0.8, 0);
	}
}

//default ripple styling
.legitRipple-ripple {
	position: absolute;
	z-index: -1;
	transform: translate(-50%, -50%) scale(1); //pixelated scaling :/
	transition:
		width .15s linear, //has to be linear
		opacity .9s ease-out; //cubic-bezier(1, 0, 0.75, 0.75)
	//transition initial values
	width: 0;
	opacity: 1;
	//will-change: transform, width, opacity;
	pointer-events: none;
	//clicking the drops themselves doesn't produce more, covered links work
	border-radius: 50%;

	background: rgba(255,255,255,0.4);

	&:before {
		//1:1 aspect ratio
		content: "";
		padding-top: 100%;
		display: block;
	}
}

img ~ .legitRipple-ripple {
	z-index: 0; //should appear in front of images
	//if image is after ripple element, this won't work.
	//that won't happen, though.
}

.legitRipple-template {
	//hide custom ripple template
	display: none;
}
.legitRipple-custom {
	display: inline-block;
	overflow: hidden;
	&>* {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		transform: translate(-50%, -50%);
	}
}